/*body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Espaçamento entre os botões e os cards */
padding: 30px; /* Adiciona um pouco de espaço ao redor dos elementos */
margin-top: 40px; /* Ajusta a posição vertical dos botões 
}

.d-flex {
    display: flex;
    gap: 3px; /* Espaçamento entre os elementos dentro de d-flex 
}

/* Seletor específico para os cartões dos dias da semana na lista 
.list-group-item {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Adiciona espaço abaixo de cada item da lista 
}

.card {
    width: 20rem; Largura dos cartões dos dias da semana 
}
/*
.btn-group {
    margin-bottom: 10px; /* Adiciona espaço abaixo do grupo de botões 
}
.bottom-date {
    display: flex;
    flex-direction: column-reverse;
}
*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Espaçamento entre os botões e os cards */
    padding: 5px; /* Adiciona um pouco de espaço ao redor dos elementos */
    margin-top: 40px; /* Ajusta a posição vertical dos botões */
}

.card {
    margin-bottom: 15px;
    margin-top: 80px; /* Ajuste o valor conforme necessário para posicionar os cards mais abaixo */
    gap: 15px;
    position: relative;
    cursor: pointer;
}

.list-group {
    margin-bottom: 10px;
    margin-top: 80px; /* Ajuste o valor conforme necessário para posicionar os cards mais abaixo */
}

span[contenteditable="true"] {
    outline: none;
    border: none;
    cursor: text;
}
.list-group-item {
    margin-top: 0px;
    margin-bottom: 70px; /* Adiciona espaço inferior entre os itens da lista */
    height: 10%;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

