{% extends "app/layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Note Nexus</h1>
    <p class="lead">Note Nexus foi um projeto desenvolvido na faculdade com a ideia de desenvolver um site que tivesse post-its 
    digitais para ajudar as pessoas com as tarefas do dia-a-dia.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<style>
    .gray-background {
        background-color: rgba(224, 224, 224, 0.7);
        padding: 20px;
        margin-top: 50px;
    }

</style>

<div class="gray-background">
    <div class="row">
        <!-- Coluna para os textos -->

        <div class="col-md-4 border-right">
            <h2>Getting started</h2>
            <p>
                Crie seu usuario para aproveitar todas as nossas utilidades disponiveis.
            </p>
            <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
        </div>

        <!-- Coluna para os cards na horizontal -->
        <div class="col-md-8 d-flex">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem; flex: 1; margin-right: 10px;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Info card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card text-white bg-warning mb-3" style="max-width: 20rem; flex: 1; margin-right: 10px;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Warning card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Dark card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
